@charset "UTF-8";
body {
  margin: 0;
  font-family: 'Lato', 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
  padding: 90px 0px;
  background-color: #fefefe;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  padding: 0 20px;
  background-color: #dfe3e8;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 18px;
  line-height: 1;
  margin: 10px 0px;
}

header h1 a {
  color: #000;
  text-decoration: none;
  font-weight: 100;
}

header .logo {
  height: 50px;
  margin: 0 0 0 0;
  border: none;
  vertical-align: -10px;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

header nav ul li a {
  display: block;
  text-decoration: none;
  color: #666;
  padding: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 100%;
}

header nav ul li.current a {
  border-radius: 30%;
  color: black;
  background-color: rgba(182, 172, 172, 0.185);
}

header nav ul li a:hover, header nav ul li a:active {
  border-radius: 30%;
  color: black;
  background-color: rgba(182, 172, 172, 0.185);
}

.menu {
  padding: 20px;
  background-color: #dfe3e8;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #eee;
}

.menu ul,
.menu ol {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.4;
  list-style: none;
  *zoom: 1;
}

.menu ul:after,
.menu ol:after {
  content: "";
  display: block;
  clear: both;
}

.container {
  max-width: 1000px;
  padding: 10px 0;
  /* border: 1px solid black; */
  border-radius: 10px;
  margin: 50px auto 50px auto;
  background-color: #fff;
  -webkit-box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057), 0 5px 6.1px rgba(0, 0, 0, 0.076), 0 10.1px 11.4px rgba(0, 0, 0, 0.086), 0 19.2px 19.8px rgba(0, 0, 0, 0.092), 0 38.4px 34.8px rgba(0, 0, 0, 0.1), 0 101px 74px rgba(0, 0, 0, 0.13);
          box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057), 0 5px 6.1px rgba(0, 0, 0, 0.076), 0 10.1px 11.4px rgba(0, 0, 0, 0.086), 0 19.2px 19.8px rgba(0, 0, 0, 0.092), 0 38.4px 34.8px rgba(0, 0, 0, 0.1), 0 101px 74px rgba(0, 0, 0, 0.13);
}

.container > .section-header {
  text-align: center;
  margin-bottom: 30px;
}

.container > .section-header > h1 {
  color: slategrey;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), color-stop(70%, #afddf8));
  background: linear-gradient(transparent 80%, #afddf8 70%);
  display: inline;
  margin: 0 auto;
}

.about .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.about .name img {
  height: 100px;
  margin: 0 25px;
  border-radius: 10px;
}

.about .sentence {
  text-align: center;
  margin: 10px 30px;
  margin-bottom: 30px;
}

.works {
  text-align: center;
}

.works p {
  color: #666;
  margin: 100px;
}

.contact {
  text-align: center;
  margin: 40px 0;
}

.contact a {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 15px 30px;
  background-color: #8e8e8e;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact a:hover {
  background-color: #a3a3a3;
}

.contactform .item label {
  display: block;
}

footer {
  color: #666;
  font-size: smaller;
  text-align: center;
}

footer p {
  display: block;
  margin: 80px 0;
  padding-bottom: 20px;
}

@media screen and (max-width: 47.2em) {
  body {
    padding: 70px 0px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header h1 {
    margin: 0;
    font-size: 13px;
    line-height: 1;
    margin: 10px 0px;
  }
  header h1 a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo {
    height: 30px;
    padding-right: 3px;
  }
  header nav {
    display: none;
  }
  .container {
    padding: 10px 0;
    margin: 20px 20px 50px 20px;
  }
  .container > .section-header > h1 {
    font-size: 27px;
  }
  .about .name {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .about .sentence {
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */