* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-overflow-scrolling: touch;
}

/* 全体の設定 */
body{
  background-color: #EFEFEF;
  text-align: center;
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
  font-family: "Hiragino Kaku Gothic ProN";
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Avenir,"Open Sans","Helvetica Neue",Helvetica,Arial,Verdana,Roboto,"游ゴシック","Yu Gothic","游ゴシック体",YuGothic,"Meiryo UI","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;

  padding: 0 30px;
}

.sorry-wrapper {
  background-color: white;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 5px 5px gray;
  max-width: 400px;
}

.sorry-wrapper img {
  max-width: 200px;
  width: 50%;
}

.sorry-wrapper h2 {
  border-bottom: 2px dashed gray;
}
