* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-overflow-scrolling: touch;
}


/* 全体の設定 */
body{
  /* background-image: url("img/linedpaper.png"); */
  background-color: #EFEFEF;
  text-align: center;
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
  font-family: "Hiragino Kaku Gothic ProN";
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Avenir,"Open Sans","Helvetica Neue",Helvetica,Arial,Verdana,Roboto,"游ゴシック","Yu Gothic","游ゴシック体",YuGothic,"Meiryo UI","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

/*ネットで見つけたもの。<img class="shadow" src="‾" />で使える*/
.shadow {
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/* ページのタイトル用 */
header {
  background-color: rgba(179,179,179,0.8);
  background-color: rgba(2,34,35,0.9);
  height: 60px;
  text-align: left;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

}

header img {
    width:auto;
    height:90%;
    padding-left:5px;
    float: left;
}

.header-list {
  margin-right: 10px;
}

.header-list li {
  list-style: none;
  float: right;
  line-height: 60px;
  border-left: 1px solid gray;
  /* background-color: black; */
}

.header-list a {
  text-decoration: none;
  padding: 0 10px;
  color: white;
  display: block;
  transition: all 300ms 0s ease;
}

.header-list a:hover {
  background-color: rgba(7, 95, 98, 1);
}

.box27 {
    position: relative;
    margin:  0;
    padding: 0.5em 1em;
    /*border: solid 3px #62c1ce;*/
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    z-index: 90;
    background-color: #CAC190;
    background-color: #79BD9A;
    color: white;
}
.box27 .box-title {
    position: absolute;
    display: table;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 20px;
    /* background: #62c1ce; */
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.box27 p {
    margin: 0;
    padding: 0;
    font-size:25px;
}

.button {
  display: inline-block;
  width: 200px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
}
.button::before,
.button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.button,
.button::before,
.button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button {
  position: relative;
  z-index: 2;
  background-color: #757575;
  border: 1px solid white;
  color: white;
  line-height: 50px;
  overflow: hidden;
  margin:20px auto;
  margin-top:10px;
}
.button:hover {
  color: white;
}
.button::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(.5);
  transform: scale(.5);
}
.button:hover::after {
  background: black;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.privacy {
  margin: 30px;
}

.top-wrapper {
  padding-top: 140px;
  padding-bottom: 100px;
  z-index: 10;
  color: rgba(255, 255, 255, 0.9);
  background-image: url("img/everyday.JPG");
}

.top-wrapper h1 {
  font-size: 40px;
  padding: 0;
  margin: 1px 0;
  letter-spacing: 2px;
  /* アニメーション */
  animation-name: fadeIn-top;
  animation-duration: 2s;
}

.top-wrapper p {
  font-size: 16px;
  margin: 0;
  /* アニメーション */
  animation-name: fadeIn-top;
  animation-duration: 4s;
}

.works-wrapper {
  background-color: #EFEFEF;
  background-color: rgba(244, 243, 241, 1);
}

.works-container {
  width: 90%;
  margin: 0 auto;
  /* FlexBox用 */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.work {
  width: 300px;
  margin: 10px;
  padding: 10px;
  background-color: #EFEFEF;
  background-color: white;
  box-shadow: 4px 4px gray;
}

.work h2 {
  font-size: 20px;
  font-weight: normal;
}

.work img {
  width: 100px;
  border-radius: 10px;
  margin: 10px;
}

.work p {
  word-wrap: break-word;
  font-size: 15px;
  padding: 5px;
  text-align: left;
  background-color: #EFEFEF;
  border-radius: 3px;
}

.work a {
  background-color: rgba(38, 157, 243, 0.8);
  color: white;
  padding: 10px;
  display: block;
  margin-top: 10px;
  text-decoration: none;
  transition:all 0.25s ease-in-out;
  border-radius: 3px;
}

.work a:hover {
  background-color: rgba(38, 157, 243, 1);
}

.profile-wrapper {
  background-color: #EFEFEF;
}

.profile-container {
  padding: 30px 0;
}

.selfintroduce {
  background-color: #4E6680;
  max-width: 500px;
  width: 85%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.selfintroduce-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px dashed white;
}

.selfintroduce-header img {
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
  margin-right: 10px;
  z-index: 1;
}

.selfintroduce-header h3 {
  display: flex;
  justify-content: center;
  line-height: 100px;
  font-size: 20px;
  font-weight: normal;
}

.selfintroduce p {
  text-align: left;
  padding: 5px;
  font-size: 15px;
}

.profile-wrapper h2 {
  font-size: 20px;
  margin-bottom: 5px;

}

.languages-wrapper {
  margin: 30px auto;
  padding-top: 10px;
  padding-bottom:20px;
  width: 90%;
  /* border-radius: 10px; */
  background-color: white;
  box-shadow: 3px 3px gray;
}

.languages-wrapper h2 {
  font-weight: normal;
  font-size: 20px;
}

.languages {
  margin: 0 ;
  /* FlexBox */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.language {
  margin: 10px;
  padding: 10px;
  width: 390px;
  border-radius: 10px;

  display: flex;
  align-items: center;

  background-color: rgba(252, 180, 67, 1);
  background-color: rgba(249, 184, 70, 1);
}

.language-left {
  /* float: left; */
  width: 20%;
  height: 100%;
  /* background-color: gray; */
}

.language-left i {
  color: white;
  font-size: 80px;
  border-bottom: 1px solid white;
}

.language-left h3 {
  font-size: 16px;
  color: white;
}

.language-right {
  /* float: left; */
  width: 80%;
  text-align: left;
  padding-left: 15px;
}

.language-right p {
  font-size: 15px;
}

.contact-wrapper {
  /* background-color: #D3D0B4; */
  background-color: #EFEFEF;
}

.contact-container {
  margin: 40px;
}

.contact-container a {
  background-color: rgba(244, 38, 38, 0.8);
  color: white;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  transition:all 0.25s ease-in-out;
  border-radius: 3px;
}

.contact-container a:hover {
  background-color: rgba(244, 38, 38, 1);
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes fadeIn-top {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 0.9;
      transform: translateY(0);
  }
}

footer{
  height: 30px;
  font-size: 10px;
	border-top: 1px solid #ccc;
  background-color: #022223;
  background-color: #D3D0B4;
  background-color: rgba(74,72,71,1);
  color: white;
  padding-top: 10px;
}

/**************************************/

/* スマートフォン対応用 */
@media screen and (max-width: 480px) {

  header {
    height: 60px;
  }

  header img {
      height: 80%;
      padding-top: 5px;
  }

  .header-list {
    /* display: none; */
    margin-right: 3px;
  }

  .header-list a {
    text-decoration: none;
    padding: 0 5px;
    color: white;
    font-size: 11px;
  }

  .top-wrapper {
    padding-top: 150px;
    padding-bottom: 80px;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .top-wrapper p {
    font-size: 15px;
  }

  .work {
    width: 90%;
  }

  .work p {
    font-size: 14px;
  }

  .box27 p {
      margin: 0;
      padding: 0;
      font-size:20px;
  }

  .selfintroduce p {
    font-size: 14px;
  }

  .language {
    margin: 6px;
  }

  .language-left i {
    font-size: 60px;
  }

  .language-left h3 {
    font-size: 16px;
  }

  .language-right p {
    font-size: 14px;
  }

  footer p {
    font-size: 8px;
  }

}
