* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-overflow-scrolling: touch;
}


/* 全体の設定 */
body{
  /* background-image: url("img/linedpaper.png"); */
  background-color: #EFEFEF;
  background-color: rgba(74,72,71,1);
  text-align: center;
  font-family: "Hiragino Kaku Gothic ProN";
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Avenir,"Open Sans","Helvetica Neue",Helvetica,Arial,Verdana,Roboto,"游ゴシック","Yu Gothic","游ゴシック体",YuGothic,"Meiryo UI","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

/*ネットで見つけたもの。<img class="shadow" src="‾" />で使える*/
.shadow {
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}

/* ヘッダー用 */
.box27 {
    position: relative;
    margin:  0;
    padding: 0.5em 1em;
    display: block;
    background-color: #79BD9A;
    color: white;
}
.box27 .box-title {
    position: absolute;
    display: table;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 20px;
    /* background: #62c1ce; */
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.box27 p {
    margin: 0;
    padding: 0;
    font-size:25px;
}

.btn {
  background-color: gray;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  margin-bottom: 20px;
  transition:all 0.25s ease-in-out;
}

.btn:hover {
  background-color: black;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/* ページのタイトル用 */
header {
  background-color: rgba(179,179,179,0.8);
  background-color: rgba(2,34,35,0.9);
  height: 60px;
  text-align: left;

  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

}

header img {
    width:auto;
    height:90%;
    padding-left:5px;
    float: left;
}

.wrapper {
  background-color: #EFEFEF;
}

.privacy-wrapper {
  margin-bottom: 30px;
  background-color: #EFEFEF;
}

/* ulを入れるボックス */
.privacy-container {
  max-width: 400px;
  margin:  20px auto;
  margin-top: 20px;
}

.privacy-container a {
  display: block;
  transition:all 0.15s ease-in-out;
}

.privacy-container a:hover {
  background-color: rgba(255, 161, 0, 0.3);
}

/* 箇条書き用 */
ul, ol {
  padding: 0;
  position: relative;
}

ul li, ol li {
  color: black;
  border-left: solid 8px orange;/*左側の線*/
  background: white;/*背景色*/
  margin-bottom: 10px;/*下のバーとの余白*/
  line-height: 1.5;
  border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
  padding: 0.5em;
  list-style-type: none!important;

  box-shadow: 3px 3px gray;
}

footer{
  height: 30px;
  font-size: 10px;
	border-top: 1px solid #ccc;
  background-color: rgba(74,72,71,1);
  color: white;
  padding-top: 10px;
}


/**************************************/

/* スマートフォン対応用 */
@media screen and (max-width: 480px) {

  header {
    height: 60px;
  }

  header img {
      height: 80%;
      padding-top: 5px;
  }

  .box27 p {
      margin: 0;
      padding: 0;
      font-size:20px;
  }

  table {
    width: 100%;
  }

  /* ulを入れるボックス */
  div.privacy-container {
    width: 90%;
    margin:  0 auto;
  }

  footer p {
    font-size: 8px;
  }

}
